body {
  background-color: #BBC49D;
  font-family: Courier 'Courier New', Courier, monospace
}

p {
  font-color: #4A561E;
}

h1 {
  color: #9BAB5D;
  font-style: bold;
  float: left;
  margin: 10px;
  padding: 10px;
}

h2 {
font-style: italic;
}

.img-1 {
  width:1000px;
  float: left;
}

img {
  width: 500px;
}

sidebar {
  float: 20% left;
  margin: 5px;
  border: 2px solid;
  border-color: #C3ED2A;
  padding-block: 10px;
}